// Variables

$white: #fffff;
$blue: #47a4b7;
$orange: #ff715b;
$dark-blue: #395e66;
$black: #393d3f;
$bg-blue: #8db0b2;


@import '../fonts/Montebello-Script.ttf';
@import '../fonts/Montebello-Rounded.ttf';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
$p-font: 'Montserrat', sans-serif;